/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/roboto-v30-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../../fonts/roboto-v30-latin-500.woff") format("woff"), url("../../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../../fonts/roboto-v30-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/roboto-v30-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../../fonts/roboto-v30-latin-700.woff") format("woff"), url("../../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../../fonts/roboto-v30-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/roboto-v30-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../../fonts/roboto-v30-latin-900.woff") format("woff"), url("../../fonts/roboto-v30-latin-900.ttf") format("truetype"), url("../../fonts/roboto-v30-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/raleway-v27-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/raleway-v27-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/raleway-v27-latin-700.woff2") format("woff2"), url("../../fonts/raleway-v27-latin-700.woff") format("woff"), url("../../fonts/raleway-v27-latin-700.ttf") format("truetype"), url("../../fonts/raleway-v27-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --text-color: #757575;
  --title-color: #212121;
  --white-clr: #ffffff;
  --social-color: #afb1b8;
  --accent-color: #2196f3;
  --address-color-contact: rgba(255, 255, 255, 0.6);
  --background-white: #ffffff;
  --background-button: #f5f4fa;
  --background-second: #2f303a;
  --background-section-team: #f5f4fa;
  --background-button-hover: #188ce8;
  --bgc-footer-link: rgba(255, 255, 255, 0.1);
  --bgc-desc-pic-going: rgba(47, 48, 58, 0.8);
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
  --items: 3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}
.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--background-white);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-clr);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic);
  cursor: pointer;
}
.button__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}
.button:hover, .button:focus {
  background-color: var(--background-button-hover);
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--title-color);
}
.logo--accent {
  color: var(--accent-color);
}
.logo--light {
  color: var(--white-clr);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin: 0;
  }
}
.site-nav__list {
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav__link {
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__current::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .site-nav__current::after {
    bottom: -1px;
  }
}
.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav .site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0px;
}
.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contact:hover, .contact:focus {
  color: var(--accent-color);
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact__mail {
  width: 16px;
  height: 12px;
}
.contact__phone {
  width: 10px;
  height: 16px;
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.card-overlay {
  position: relative;
  overflow: hidden;
}
.card-overlay__desc {
  position: absolute;
  bottom: -100%;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-clr);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--time) var(--cubic);
  transition: -webkit-transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic), -webkit-transform var(--time) var(--cubic);
}

.work-card:hover .card-overlay__desc,
.work-card:focus .card-overlay__desc {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.work-card {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--time) var(--cubic);
  transition: -webkit-box-shadow var(--time) var(--cubic);
  transition: box-shadow var(--time) var(--cubic);
  transition: box-shadow var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.work-card:hover, .work-card:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.work-card__transcription {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-card__transcription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.work-card__name {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px 0;
}
.work-card__type {
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}
.filter__button {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--background-button);
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03em;
  -webkit-transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic), box-shadow var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
  cursor: pointer;
}
.filter__button:hover, .filter__button:focus {
  color: var(--white-clr);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter__items:not(:last-child) {
  margin-right: 8px;
}
.filter__items:first-child {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .filter__items:first-child {
    margin-bottom: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 40;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity var(--time) var(--cubic);
  transition: opacity var(--time) var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  color: #000000;
  border-radius: 50%;
  background-color: var(--background-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.close-btn__icon {
  width: 15px;
  height: 15px;
  fill: currentColor;
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
.close-btn:hover .close-btn__icon, .close-btn:focus .close-btn__icon {
  color: var(--accent-color);
}

.checkbox__custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  -webkit-transition: background-color var(--time) var(--cubic), order-radius var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic), order-radius var(--time) var(--cubic);
}

.checkbox__icon--on {
  width: 11px;
  height: 8px;
  fill: var(--white-clr);
  opacity: 0;
  -webkit-transition: opacity var(--time) var(--cubic);
  transition: opacity var(--time) var(--cubic);
}

.checkbox__icon--off {
  fill: var(--title-color);
  -webkit-transition: opacity var(--time) var(--cubic);
  transition: opacity var(--time) var(--cubic);
}

.checkbox:checked + .checkbox__custom {
  background-color: var(--accent-color);
  border-radius: 2px;
}

.checkbox:checked + .checkbox__custom .checkbox__icon--on {
  opacity: 1;
}

.checkbox:checked + .checkbox__custom .checkbox__icon--off {
  opacity: 0;
}

.checkbox:focus + .checkbox__custom {
  outline: rgb(16, 16, 16) solid 1px;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.agreement__text {
  display: inline-block;
  font-size: 12px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .agreement__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.agreement__text--no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.agreement-link {
  color: var(--accent-color);
}

.modal-label {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.modal-label__input {
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 35px;
  color: var(--text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--time) var(--cubic);
  transition: border-color var(--time) var(--cubic);
}
.modal-label__desc {
  display: inline-block;
  margin: 0 0 4px 0;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.modal-label__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 18px;
  height: 18px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: translateX(12px) translateY(-11px);
          transform: translateX(12px) translateY(-11px);
  fill: var(--title-color);
  -webkit-transition: fill var(--time) var(--cubic);
  transition: fill var(--time) var(--cubic);
}
.modal-label__input:focus-within + .modal-label__icon, .modal-label__input:hover + .modal-label__icon {
  fill: var(--accent-color);
}
.modal-label__input:focus-within, .modal-label__input:hover {
  border-color: var(--accent-color);
  outline: transparent;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color var(--time) var(--cubic);
  transition: border-color var(--time) var(--cubic);
}
.modal-textarea_textarea {
  display: block;
}
.modal-textarea:focus-within, .modal-textarea:hover {
  border-color: var(--accent-color);
  outline: transparent;
}

@media screen and (min-width: 1200px) {
  .mailing-form {
    margin-left: auto;
  }
}
.mailing-form__call {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .mailing-form__call {
    text-align: start;
  }
}
.mailing-form__blok {
  display: block;
}
@media screen and (min-width: 1200px) {
  .mailing-form__blok {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.mailing-form__label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
}
@media screen and (min-width: 480px) {
  .mailing-form__label {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-form__label {
    width: 358px;
    margin: 0 12px 0 0;
  }
}
.mailing-form__input {
  display: block;
  width: inherit;
  height: inherit;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer_button {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .footer_button {
    margin: 0;
  }
}

.addres {
  font-style: normal;
}
.addres__item:not(:last-child) {
  margin-bottom: 9px;
}
.addres__map {
  line-height: 1.71;
  color: var(--white-clr);
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
.addres__contacts {
  color: var(--address-color-contact);
  line-height: 1.71;
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
.addres__map:hover, .addres__map:focus, .addres__contacts:hover, .addres__contacts:focus {
  color: var(--accent-color);
}

.title-section {
  margin-bottom: 30px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title-section {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic);
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social__link--light {
  color: var(--social-color);
  cursor: pointer;
}
.social__link--dark {
  color: var(--white-clr);
  background-color: var(--bgc-footer-link);
}
.social__link--light:hover, .social__link--light:focus {
  background-color: var(--accent-color);
  color: var(--white-clr);
}
.social__link--dark:hover, .social__link--dark:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 21px;
    padding-bottom: 21px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding: 0 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: -webkit-transform var(--time) var(--cubic);
  transition: -webkit-transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic), -webkit-transform var(--time) var(--cubic);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  background-color: var(--background-white);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: auto;
  z-index: 30;
}
@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}
.mobile-menu__burger {
  -webkit-transition: opacity var(--time) var(--cubic), fill var(--time) var(--cubic);
  transition: opacity var(--time) var(--cubic), fill var(--time) var(--cubic);
}
.mobile-menu__btn.is-open .mobile-menu__burger {
  opacity: 0;
}
.mobile-menu__close {
  opacity: 0;
  -webkit-transition: opacity var(--time) var(--cubic), fill var(--time) var(--cubic);
  transition: opacity var(--time) var(--cubic), fill var(--time) var(--cubic);
}
.mobile-menu__btn.is-open .mobile-menu__close {
  opacity: 1;
}
.mobile-menu__btn:hover .mobile-menu__burger, .mobile-menu__btn:focus .mobile-menu__burger, .mobile-menu__btn:hover .mobile-menu__close, .mobile-menu__btn:focus .mobile-menu__close {
  fill: var(--accent-color);
}
.mobile-menu__nav {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: auto;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__current {
  color: var(--accent-color);
}
.mobile-menu__contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}
.mobile-menu__contact:not(:last-child) {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 1.1764705882;
  color: var(--accent-color);
}
.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__social:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero {
  position: relative;
  padding: 118px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-second);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image/team-bg_sm.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image/team-bg_sm.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image/team-bg_sm@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image/team-bg_sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image/team-bg_md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image/team-bg_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image/team-bg_md@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image/team-bg_md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image/team-bg_lg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image/team-bg_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image/team-bg_lg@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image/team-bg_lg@2x.jpg);
  }
}
.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--white-clr);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  margin-left: auto;
  margin-right: auto;
}

.works__item {
  background-color: var(--background-white);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.works__item {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .works__item {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .works__item {
    --items: 3;
  }
}

.modal {
  position: absolute;
  top: 50%;
  right: 50%;
  max-width: 450px;
  height: 609px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  padding: 40px;
  background-color: var(--background-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    height: 581px;
  }
}
.modal__title {
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.5;
  }
}
.modal__btn {
  margin: 0 auto;
}

.modal-label__textarea {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.advantages__items {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .advantages__items {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__items {
    max-width: 270px;
  }
}
.advantages__items:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantages__items:not(:last-child) {
    margin-bottom: 0;
  }
}
.advantages__title {
  margin: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: start;
  }
}
.advantages__text {
  margin: 0;
  line-height: 1.71;
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-button);
  border-radius: 4px;
}

.we-doing {
  display: none;
  padding-bottom: 86px;
}
@media screen and (min-width: 1200px) {
  .we-doing {
    display: block;
  }
}
.we-doing__list {
  --items: 3;
}
.we-doing__items {
  position: relative;
  z-index: 1;
}
.we-doing__desc-pic {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  margin: 0;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white-clr);
  background-color: var(--bgc-desc-pic-going);
}

.team {
  background-color: var(--background-section-team);
}
.team__list {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .team__list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    --items: 4;
  }
}
.team__card {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__card {
    padding-bottom: 30px;
  }
}
.team__name {
  margin: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__fon-foto {
  max-width: 450px;
  background-color: var(--background-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__fon-foto {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__fon-foto {
    max-width: 270px;
  }
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--social-color);
  border: 1px solid var(--social-color);
  border-radius: 4px;
  -webkit-transition: color var(--time) var(--cubic), border-color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic), border-color var(--time) var(--cubic);
}
.client__item {
  -ms-flex-preferred-size: 210px;
      flex-basis: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client__item {
    -ms-flex-preferred-size: 226px;
        flex-basis: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
  }
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--background-second);
  padding: 60px 0;
}
.footer__content {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__content {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__social {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-bottom: 0;
    text-align: start;
  }
}
.footer__call {
  margin-bottom: 20px;
}

.call__strong {
  margin: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-clr);
}/*# sourceMappingURL=main.css.map */