.close-btn {
    position: absolute;
    right: 8px;
    top: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    padding: 0;

    color: #000000;

    border-radius: 50%;
    background-color: var(--background-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    
    &__icon {
            width: 15px;
            height: 15px;
    
            fill: currentColor;
            transition: color var(--time) var(--cubic);
        }
    
        &:hover &__icon,
        &:focus &__icon {
            color: var(--accent-color);
        }
}

