.advantages {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__items {
    max-width: 450px;

    @media screen and (min-width: 768px) {
      max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 270px;
    }
  }

  &__items:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;

    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }

  &__text {
    margin: 0;

    line-height: 1.71;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    margin-bottom: 30px;

    background-color: var(--background-button);
    border-radius: 4px;
  }
}
